{% extends 'admin-base.html.twig' %}

{% block title %}Job4u Admin Userlist{% endblock %}

{% block breadcrumb %}
	<!-- Breadcrumbs-->
       <ol class="breadcrumb">
         <li class="breadcrumb-item">
           <a href="/admin">Dashboard</a>
         </li>
         <li class="breadcrumb-item">languages</li>
         <li class="breadcrumb-item active">list</li>
       </ol>
{% endblock %}

{% block body %}

{% endblock %}