{% extends 'admin-base.html.twig' %}

{% block title %}Job4u Admin create User{% endblock %}

{% block breadcrumb %}
	<!-- Breadcrumbs-->
       <ol class="breadcrumb">
         <li class="breadcrumb-item">
           <a href="/admin">Dashboard</a>
         </li>
         <li class="breadcrumb-item">roles</li>
         <li class="breadcrumb-item active">create</li>
       </ol>
{% endblock %}

{% block body %}
	<h1>Create new Role:</h1>
	{{ form(roleForm) }}
{% endblock %}