{% extends 'base.html.twig' %}
{% block stylesheet %}
	{{ parent() }}
	<meta http-equiv="refresh" content="5;url=http://localhost/support/contact">
{% endblock %}


{% block body %}

	<h3>Thank you for contacting us about your concern! </h3>

{% endblock %}