<div class="bg-primary text-white">
<div class="container">
  <div class="row">
    <div class="col-md-6 p-3 col-6">
	  <a href="{{ path('app_login') }}"><img id="headerimg" class="mb-2" src="/img/job4u.svg" alt="job4u" id=""></a>
      <p>A social media for unemployed people without certification.</p>
      <p>Anyone without certification can find this website useful by creating a network with recruiters and other users in the same situation.</p>
    </div>
    <div class="col-md-6 p-3 col-6">
      <h2 class="mb-4">Site Map</h2>
      <ul class="list-unstyled text-white text-left">
      		<li><a href="#" class="text-white">Home</a></li>
{#       		<li><a href="#" class="text-white">Our services</a></li>#}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-3">
      <p class="text-center">&copy; Copyright 2018 JOB4U team - All rights reserved. </p>
    </div>
  </div>
</div>
</div>