<div class="bg-primary text-white">
<div class="container">
  <div class="row">
    <div class="col-md-6 p-3 col-6" style="">
      <h2 class="mb-4">JOB4U</h2>
      <p>A social media for unemployed people without certification.</p>
      <p>Anyone without certification can find this website useful by creating a network&nbsp;</p>
    </div>
    <div class="col-md-6 p-3 col-6" style="">
      <h2 class="mb-4">Site Map</h2>
      <ul class="list-unstyled text-white text-left"> <a href="#" class="text-white">Home</a> <br> <a href="{{ path('app_login') }}"
          class="text-white">About us</a> <br> <a href="#" class="text-white">Our services</a> <br>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-3">
      <p class="text-center">&copy; Copyright 2018 JOB4U team - All rights reserved. </p>
    </div>
  </div>
</div>
</div>