<div class="py-3 bg-primary">
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center d-md-flex align-items-center text-white">
	 <a href="#"><img id="headerimg" src="/img/job4u.svg" alt="job4u"></a>
      <ul class="nav mx-md-auto d-flex justify-content-center text-white">
        <li class="nav-item text-white text-uppercase"> <a class="nav-link active" href="#"><i class="fas fa-home text-white"></i><b>&nbsp;Home</b></a>
        </li>
        <li class="nav-item text-uppercase"> <a class="nav-link" href="#"><i class="fas fa-globe"></i>&nbsp;
            Services</a> </li>
        <li class="nav-item text-uppercase"> <a class="nav-link" href="#"><i class="fa fa-user fa-fw"></i>What's here?</a>
        </li>
        <li class="nav-item"> <a class="nav-link" href="#">About</a> </li>
      </ul>
    </div>
  </div>
</div>
</div>