 <header>
    <nav id="navi" class="navbar navbar-dark light-green justify-content-center">
        <a class="navbar-brand text-center" href="#">
            <img src="/img/job4u.svg" class="img-fluid" alt="Job4U Logo" style="width: 25%;">
        </a>
        <div class="navbar navbar-expand" id="navbarSupportedContent">
            <ul class="navbar-nav justify-content-center">
                <li class="nav-item active">
                    <a class="nav-link waves-effect waves-light" href="#"><i class="fas fa-home"></i>Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-globe"></i>Services</a>
                    <div class="dropdown-menu dropdown-info" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item waves-effect waves-light" href="#">Hotel</a>
                        <a class="dropdown-item waves-effect waves-light" href="#">Cleaner</a>
                        <a class="dropdown-item waves-effect waves-light" href="#">Factory</a>
                        <a class="dropdown-item waves-effect waves-light" href="#">Restaurant</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" href="#"><i class="fas fa-search"></i>Search</a>
                </li>
            </ul>
        </div>
    </nav>
</header>