{% extends 'base.html.twig' %}

{% block body %}

	<div class="py-5 text-center" style="background-image: url('/img/bg_job4u.jpg');background-size:cover;">
    <div class="container">
      <div class="row">
        <div class="mx-auto bg-white p-5 col-md-6 col-10">
          <h1 class="mb-4">Sign Up</h1>

          {{ form(userForm) }}
          <a href="{{ path('login') }}" class="text-secondary px-2">Already registered? Log In!</a>
        </div>
        <div id="pswd_info">
			<h4>Your passwork must contains :</h4>
			<ul>
				<li id="letter" class="valid">At least <strong>a letter</strong></li>
				<li id="capital" class="invalid">At least <strong>a capital letter</strong></li>
				<li id="number" class="invalid">At least <strong>a number</strong></li>
				<li id="length" class="invalid">At least <strong>8 caracters</strong></li>
				<li id="Format" class="invalid">At least <strong>@ and .</strong></li>
			</ul>
		</div>
      </div>
    </div>
  </div>

{% endblock %}
