{% extends 'base.html.twig' %}

{% block body %}
<div class="py-5 text-center" style="background-image: url('/img/bg_job4u.jpg');background-size:cover;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6 col-6">
              <div class="card"> <img class="card-img-top" src="/img/cleaning.jpeg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Cleaner</h4>
                  <p class="">Enter in the universe of cleaning</p>
                  <a href="#" class="btn btn-lg btn-secondary btn-block">Enter</a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-6">
              <div class="card"> <img class="card-img-top" src="/img/factory.jpeg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Factory</h4>
                  <p class="">Enter in the universe of factory</p>
                  <a href="#" class="btn btn-lg btn-secondary btn-block">Enter</a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-6 mt-2">
              <div class="card"> <img class="card-img-top" src="/img/restaurant.jpeg" alt="Restaurant">
                <div class="card-body">
                  <h4 class="card-title">Restaurant</h4>
                  <p class="">Enter in the universe of restaurants</p>
                  <a href="#" class="btn btn-secondary btn-lg btn-block">Enter</a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-6 mt-2">
              <div class="card"> <img class="card-img-top" src="/img/hotels.jpeg" alt="Hotels">
                <div class="card-body">
                  <h4 class="card-title">Hotel</h4>
                  <p class="">Enter in the universe of hotels</p>
                  <a href="#" class="btn btn-lg btn-secondary btn-block" contenteditable="true">Enter</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}